@model IEnumerable<AttendanceApp.Models.Member>

@{
    ViewBag.Title = "Socios";
}

<h2>Socios</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relatives)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Membership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workplace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActiveMember)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitDate)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Relatives)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Membership)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workplace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActiveMember)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoinDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExitDate)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>
